.select {
  background: var(--bg-tertiary);
  padding: 8px 15px;
  border-radius: 7px;
  border: 1px solid var(--border-secondary);
  color: var(--text-primary);
  width: 100%;
  cursor: pointer;
}

.option {
  background: var(--bg-secondary);
  cursor: pointer;
}
