.button {
  background: var(--accent-primary);
  padding: 10px 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
}

.button:disabled {
  border: 1px solid var(--accent-primary);
  background: transparent;
}


.button:hover {
  background: var(--accent-hover);
}
