.wrapper {
  padding: 20px;
}

.wrapper input {
  width: 100%;
  margin-top: 20px;
}

.wrapper button {
  align-items: center;
  margin-top: 40px;
}

.but_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}