:root {
  --bg-primary: #0a0a0a;
  --bg-secondary: #121212;
  --text-primary: #fafafa;

  --border-primary: #ffffff1a;
  --border-secondary: #ffffff26;

  --text-muted: #a1a1a1;
  --text-accent: #c74d34;

  --accent-primary: #3f50b5;
  --accent-light: #757ce8;
  --accent-hover: #303f9f;

  --bg-tertiary: #ffffff0b;
  --bg-overlay: #1a1a1a;
}
